<div style="text-align: center;">
  <h1 *ngIf="isShow; else falseConditionBlock">Welcome to {{showMessage()}}!!!</h1>

  <ng-template #falseConditionBlock>
    <h1>เงื่อนไขเป็นเท็จ</h1>
  </ng-template>

  <p>ค่าของตัวแปร I : {{i}}</p>
  <button class="btn-primary" (click)="addCount()">เพิ่มค่าตัวแปร I</button><br/>


  <p>console value</p>
  <input #fullname type="text"><br/>
  <button class="btn-primary" (click)="readData(fullname.value)">คลิ๊ก</button>

  <h3>
    shortDate : {{nowDate | date:'shortDate'}}<br/>
    mediumDate : {{nowDate | date:'mediumDate'}}<br/>
    longDate : {{nowDate | date:'longDate'}}<br/>
    shortTime : {{nowDate | date:'shortTime'}}<br/>
    mediumTime : {{nowDate | date:'mediumTime'}}<br/>
    longTime : {{nowDate | date:'longTime'}}<br/>
  </h3>
</div>
<div style="text-align: center;">
  <app-footer></app-footer>
</div>

<div style="text-align: center;">
  <h1>Welcome to {{title}}</h1>
  <h1>Welcome to {{num1 + num2}}</h1>
  <h1>Welcome to {{ addNumber() }}</h1>
  <h1><a href="https://www.google.co.th/?hl=th">Google</a></h1>
    <h1><a [href]="url">Google</a></h1>
  <img src="assets/images/pink_sakura_kepcap.jpg" width="300" height="400" alt="Sakura Keycap">
</div>
<ul>
  <li *ngFor="let f of fruit">{{f | uppercase}}   {{price | currency:'USD'}}</li>
</ul>
<ul>
  <li *ngFor="let f of fruit">{{f}}</li>
</ul>
<app-product></app-product>

<h2>Here are some links to help</h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://monkeytype.com/">monkeytype</a></h2>
  </li>
  <li><h2><a target="_blank" href="https://10fastfingers.com/typing-test/english/#_=_">10fastfingers</a></h2></li>
</ul>
<button class="btn-padding" (click)="onShowData()">button show data</button>
<input (keyup)="onKeyPressEnter($event)">