<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">SakuraKeycap.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/product">product</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/webboard">webboard</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/contactus">contactus</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<body>
  <router-outlet></router-outlet>
</body>
<app-toolbar></app-toolbar>

<div class="border-pink" style="text-align: center;">
  <h1 *ngIf="isShow; else falseConditionBlock">Welcome to {{showMessage()}}!!!</h1>

  <ng-template #falseConditionBlock>
    <h1>เงื่อนไขเป็นเท็จ</h1>
  </ng-template>

  <p>ค่าของตัวแปร I : {{i}}</p>
  <button class="btn-primary" (click)="addCount()">เพิ่มค่าตัวแปร I</button><br/>


  <p>console value</p>
  <input #fullname type="text"><br/>
  <button class="btn-primary" (click)="readData(fullname.value)">คลิ๊ก</button>

  <h3>
    shortDate : {{nowDate | date:'shortDate'}}<br/>
    mediumDate : {{nowDate | date:'mediumDate'}}<br/>
    longDate : {{nowDate | date:'longDate'}}<br/>
    shortTime : {{nowDate | date:'shortTime'}}<br/>
    mediumTime : {{nowDate | date:'mediumTime'}}<br/>
    longTime : {{nowDate | date:'longTime'}}<br/>
  </h3>
</div>
<div class="border-pink" style="text-align: center;">
  <app-footer></app-footer>
</div>

<div class="border-pink" style="text-align: center;">
  <h1>Welcome to {{title}}</h1>
  <h1>Welcome to {{num1 + num2}}</h1>
  <h1>Welcome to {{ addNumber() }}</h1>
  <h1><a href="https://www.google.co.th/?hl=th">Google</a></h1>
    <h1><a [href]="url">Google</a></h1>
  <img src="assets/images/pink_sakura_kepcap.jpg" width="300" height="400" alt="Sakura Keycap">
</div>
<div style="margin-top: 50px;">
  <ul>
    <li *ngFor="let f of fruit">{{f | uppercase}}   {{price | currency:'USD'}}</li>
  </ul>
  <ul>
    <li *ngFor="let f of fruit">{{f}}</li>
  </ul>
</div>

<app-product></app-product>

<h2>Here are some links to help.</h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://monkeytype.com/">monkeytype</a></h2>
  </li>
  <li><h2><a target="_blank" href="https://10fastfingers.com/typing-test/english/#_=_">10fastfingers</a></h2></li>
</ul>
<button class="btn-padding" (click)="onShowData()">button show data</button>
<input (keyup)="onKeyPressEnter($event)">

<div class="alert-primary">alert-primary</div>
<div class="alert-secondary">alert-secondary</div>
<div class="alert-dark">alert-dark</div>
<div class="alert-light">alert-light</div>
<div class="alert-info">alert-info</div>
<div class="alert-success">alert-success</div>
<div class="alert-warning">alert-warning</div>
<div class="alert-danger">alert-danger</div>

<div style="margin-top: 20px;">
  <button (click)="addParentCount()">Parent data {{ParentCount}}</button>
  <app-childcom (onClearCount)="clearCount($event)" [ChildCount]="ParentCount"></app-childcom>
</div>

  <!-- <input [ngModel]="fullname"/> -->

  <div style="text-align: center;" class="container">
  <h1>แบบฟอร์มรับข้อมูลข่าวสาร</h1>
  <form role="form" #customerform="ngForm" (submit)="onSubmit()">
    <div class="form-group row">
      <div class="col-md-6 col-lg-6" style="text-align: right;">
        <label class="mr-label">name : </label>
      </div>
      <div class="col-md-6 col-lg-6">
        <input type="text" name="fullname" placeholder="fullname" class="form-control col-md-3 col-lg-3">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-lg-6" style="text-align: right;">
        <label class="mr-label">email : </label>
      </div>
      <div class="col-md-6 col-lg-6">
        <input type="email" name="email" placeholder="email" class="form-control col-md-3 col-lg-3">
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-radio">
        <input type="radio" id="male" name="gender" value="male" class="custom-control-input">
        <label class="custom-control-label" for="male">Male</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-radio">
        <input type="radio" id="female" name="gender" value="female" class="custom-control-input">
        <label class="custom-control-label" for="female">Female</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-lg-6" style="text-align: right;">
        <label class="mr-label">language : </label>
      </div>
      <div class="col-md-6 col-lg-6" style="text-align: left;">
        <select class="custom-select col-md-3 col-lg-3" id="lstLanguage">
          <option selected>Angular</option>
          <option *ngFor="let l of languages">{{l}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check"></div>
      <input type="checkbox" name="checkUpdate" style="margin-right: 5px;">
      <label>recieve update notification</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary mr-label">Submit</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>