<div style="text-align: center;">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-3" role="group" aria-label="Group1">
            <button type="button" class="btn btn-primary">หน้าเเรก</button>
            <button type="button" class="btn btn-primary">บทความ</button>
            <button type="button" class="btn btn-primary">ข่าว</button>
        </div>
        <div class="btn-group mr-3" role="group" aria-label="Group2">
            <button type="button" class="btn btn-info">ติดต่อเรา</button>
            <button type="button" class="btn btn-info">นโยบายความเป็นส่วนตัว</button>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <div class="container" style="height: 480px; width: 400px;">
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-item active">
                <img class="d-block img-fluid carousel-img-size" src="assets\images\pink_sakura_kepcap.jpg" alt="img1">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid carousel-img-size" src="assets\images\butterfly_1.jpg" alt="img1">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid carousel-img-size" src="assets\images\snow_keycap_2.jpg" alt="img1">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid carousel-img-size" src="assets\images\moon_n_star_1.jpg" alt="img1">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid carousel-img-size" src="assets\images\many_keycaps_1.jpg" alt="img1">
            </div>
            <a class="carousel-control-prev" href="#mainCarousel" data-slide="prev">
                <div class="carousel-control-prev-icon" style="margin-top: 80px;"></div>
                <div class="sr-only">ก่อนหน้า</div>
            </a>
            <a class="carousel-control-next" href="#mainCarousel" data-slide="next">
                <div class="carousel-control-next-icon" style="margin-top: 80px;"></div>
                <div class="sr-only">ถัดไป</div>
            </a>
        </div>
    </div>
</div>

<div class="card text-white bg-dark border-success" style="margin-top: 20px;">
    <div class="card-body">
        <h3 class="card-title">Basic Angular.</h3>
        <p class="card-text">How to Angular step by step.</p>
        <a href="#" class="btn btn-success">read more . . .</a>
    </div>
</div>
<div class="card-deck">
    <div class="card text-warning bg-light border-danger" style="margin-top: 20px;">
        <div class="card-body">
            <h3 class="card-title">Basic Angular.</h3>
            <p class="card-text">How to Angular step by step.</p>
            <a href="#" class="btn btn-primary">read more . . .</a>
        </div>
    </div>
    <div class="card text-success bg-info border-secondary" style="margin-top: 20px;">
        <div class="card-body">
            <h3 class="card-title">Basic Angular.</h3>
            <p class="card-text">How to Angular step by step.</p>
            <a href="#" class="btn btn-danger">read more . . .</a>
        </div>
    </div>
    <div class="card border-primary" style="margin-top: 20px;">
        <div class="card-body">
            <h3 class="card-title">Basic Angular.</h3>
            <p class="card-text">How to Angular step by step.</p>
            <a href="#" class="btn btn-info">read more . . .</a>
        </div>
    </div>
</div>
